
body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    font-family: 'Montserrat', sans-serif;
    color:#666;
}

.png1, .png2, .png3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;

  /* Fixed = parallax
  scroll = normal*/
  /*This is how you make a parallax*/
  background-attachment: fixed;
}

.png1 {
    background-image: url('img/boxing1.jpg');
    min-height: 100%;
}

.png2 {
    background-image: url('img/boxing2.jpg');
    min-height: 400px;
}

.png3 {
    background-image: url('img/boxing3.jpg');
    min-height: 400px;
}


.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: whitesmoke;
  color:#666;
}

.section-dark {
  background-color: #282e34;
  color:whitesmoke;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color:#000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;

}

.border {
  background-color:#000;
  color:#fff;
  padding: 20px;
}


@media(max-width: 568px){
  .png1, .png2, .png3 {
    background-attachment: scroll;
  }
}
